<h3>Envío de email desde Services</h3>

Le enviamos este correo desde la <b>APP TODO LIST</b> para informarle que se ha cerrado una lista TODO.<br><br>

ID USUARIO: {{ idUsuario }}
-- Saludos cordiales --
<br>




